p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}
.video-stats{
  font-size: 14px;
  color: rgb(97, 97, 97);
  margin-bottom: 20px;
  
}
.video-author{
  color: rgb(97, 97, 97);
  font-size: 14px;
  margin-bottom: 20px;
}
.video-description{
  color: rgb(97, 97, 97);
  font-size: 14px;
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  color: white;
  background-color: rgb(227, 65, 64);
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.shop-text {
  cursor: pointer;
}
.shop-text:hover {
  text-decoration: underline;
}