.search-bar {
  flex: 1;
  height: 36px;
  border-style: solid;
  border-color: gainsboro;
  border-width: 1px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;

}
.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: gainsboro;
  
  
}
.left-section{
display: flex;
align-items: center;
}
.middle-section{
flex:1;
margin-left: 70px;
margin-right: 35px;
max-width: 500px;
display: flex;
align-items: center;
}
.right-section{
display: flex;
width: 180px;
align-items: center;
justify-content: space-between;
margin-right: 20px;
flex-shrink: 0;

}
.hamburguer-icon{
height: 24px;
margin-left: 24px;
margin-right: 20px;
}
.youtube-logo{
  height: 20px;
}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: gainsboro;
  margin-left: -1px;
  margin-right: 10px;
}
.voice-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
}
.search-icon{
  margin-top: 4px;
  height: 24px;
}
.voice-icon{
  margin-top: 4px;
  height: 25px;
  
}
.upload-icon{
  height: 24px;
}
.apps-icon{
  height: 24px;
}
.notifications-icon{
  height: 24px;
}
.mychannel-icon{
  height: 32px;
  border-radius: 16px;
}
